.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 300px;
    background-color:rgb(255, 255, 255, .8) ;
    padding: 2rem;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 2rem;
    text-align: center;
}

/*Responsivo*/

@media (max-width: 500px) {
    .container {
        width: 300px;
        min-height: 650px;
        background-color:rgb(255, 255, 255, .8) ;
        padding: 2rem;
        border-radius: 20px;
        transition: .5s;
    }
    .countdown-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 200px;
        gap: 2rem;
        margin-top: 50px;
        padding-top: 15em;
        transition: 1s;
    }
}

@media (min-width: 500px) {
    .container {
        transition: 1s;
    }
    .countdown-container {
        transition: 1s;
    }
}
